@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de fuente definidas en tu layout */
:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

/* Aplica la fuente Sans a todo el body */
body {
  font-family: var(--font-geist-sans);
}

/* Puedes usar Geist Mono para código o monospace explícito */
code, pre, kbd, samp {
  font-family: var(--font-geist-mono);
}

/* Animaciones personalizadas */
@keyframes slow-pulse {
  0% { background-position: 0 0; }
  50% { background-position: 50% 50%; }
  100% { background-position: 0 0; }
}

.animate-slow-pulse {
  background-size: 200% 200%;
  animation: slow-pulse 15s ease-in-out infinite;
}
